In [3]:
pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-15.0.0-cp312-cp312-manylinux_2_28_x86_64.whl.metadata (3.0 kB)
Requirement already satisfied: numpy<2,>=1.16.6 in /home/gitpod/.pyenv/versions/3.12.1/lib/python3.12/site-packages (from pyarrow) (1.26.3)
Downloading pyarrow-15.0.0-cp312-cp312-manylinux_2_28_x86_64.whl (38.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 38.3/38.3 MB 49.2 MB/s eta 0:00:000m eta 0:00:01:01:01m
Installing collected packages: pyarrow
Successfully installed pyarrow-15.0.0
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd

In [5]:
pd.__version__

'2.2.0'

In [6]:
df = pd.read_csv("data/green_tripdata_2019-09.csv")

/tmp/ipykernel_19597/626425485.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data/green_tripdata_2019-09.csv")

In [9]:
! head "data/green_tripdata_2019-09.csv"

VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0,,0.3,14.16,1,1,0
2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12,0.5,0.5,0,0,,0.3,13.3,2,1,0
2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12,0.5,0.5,0,0,,0.3,13.3,2,1,0
2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.5,0,,0.3,10.3,1,1,0
2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14,0.5,0.5,3.06,0,,0.3,18.36,1,1,0
2,2019-09-01 00:55:37,2019-09-01 01:17:02,N,1,7,41,1,6.26,21,0.5,0.5,0,6.12,,0.3,28.42,2,1,0
2,2019-09-01 00:28:55,2019-09-01 00:52:09,N,1,33,37,1,4.34,18,0.5,0.5,3.86,0,,0.3,23.16,1,1,0
1,2019-09-01 00:03:13,2019-09-01 00:03:32,N,1,55,55,1,1.20,2.5,0.5,0.5,0,0,,0.3,3.8,3,1,0
1,2019-09-01 00:15:28,2019-09-01 00:43:22,N,1,55,89,1,.00,22.2,0,0.5,0,0,,0.3,23,1,1,0

In [10]:
! less "data/green_tripdata_2019-09.csv"

VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0,,0.3,14.16,1,1,0
2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12,0.5,0.5,0,0,,0.3,13.3,2,1,0
2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12,0.5,0.5,0,0,,0.3,13.3,2,1,0
2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.5,0,,0.3,10.3,1,1,0
2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14,0.5,0.5,3.06,0,,0.3,18.36,1,1,0
2,2019-09-01 00:55:37,2019-09-01 01:17:02,N,1,7,41,1,6.26,21,0.5,0.5,0,6.12,,0.3,28.42,2,1,0
2,2019-09-01 00:28:55,2019-09-01 00:52:09,N,1,33,37,1,4.34,18,0.5,0.5,3.86,0,,0.3,23.16,1,1,0
1,2019-09-01 00:03:13,2019-09-01 00:03:32,N,1,55,55,1,1.20,2.5,0.5,0.5,0,0,,0.3,3.8,3,1,0
1,2019-09-01 00:15:28,2019-09-01 00:43:22,N,1,55,89,1,.00,22.2,0,0.5,0,0,,0.3,23,1,1,0
2,2019-09-01 00:29:16,2019-09-01 00:30:15,N,1,17,17,1,.14,2.5,0.5,0.5,0,0,,0.3,3data/green_tripdata_2019-09.csvVendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0,,0.3,14.16,1,1,0
2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12,0.5,0.5,0,0,,0.3,13.3,2,1,0
2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12,0.5,0.5,0,0,,0.3,13.3,2,1,0
2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.5,0,,0.3,10.3,1,1,0
2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14,0.5,0.5,3.06,0,,0.3,18.36,1,1,0
2,2019-09-01 00:55:37,2019-09-01 01:17:02,N,1,7,41,1,6.26,21,0.5,0.5,0,6.12,,0.3,28.42,2,1,0
2,2019-09-01 00:28:55,2019-09-01 00:52:09,N,1,33,37,1,4.34,18,0.5,0.5,3.86,0,,0.3,23.16,1,1,0
1,2019-09-01 00:03:13,2019-09-01 00:03:32,N,1,55,55,1,1.20,2.5,0.5,0.5,0,0,,0.3,3.8,3,1,0
1,2019-09-01 00:15:28,2019-09-01 00:43:22,N,1,55,89,1,.00,22.2,0,0.5,0,0,,0.3,23,1,1,0
2,2019-09-01 00:29:16,2019-09-01 00:30:15,N,1,17,17,1,.14,2.5,0.5,0.5,0,0,,0.3,3:

In [12]:
! wc -l "data/green_tripdata_2019-09.csv"

449064 data/green_tripdata_2019-09.csv

In [13]:
df = pd.read_csv("data/green_tripdata_2019-09.csv", nrows=100)

In [14]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1,1,0.0

In [15]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.00,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.00,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.00,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.00,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.00,NaN,0.3,18.36,1,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2019-09-01 00:40:55,2019-09-01 00:48:35,N,1,95,160,1,2.24,9.0,0.5,0.5,0.00,0.00,NaN,0.3,10.30,2,1,0.0
96,2,2019-09-01 00:13:52,2019-09-01 00:21:47,N,1,75,151,1,2.04,8.5,0.5,0.5,1.96,0.00,NaN,0.3,11.76,1,1,0.0
97,2,2019-09-01 00:37:24,2019-09-01 01:02:31,N,1,41,182,1,7.77,26.0,0.5,0.5,5.46,0.00,NaN,0.3,32.76,1,1,0.0
98,2,2019-09-01 00:22:15,2019-09-01 00:29:52,N,1,74,260,1,4.99,15.0,0.5,0.5,2.58,6.12,NaN,0.3,25.00,1,1,0.0
99,2,2019-09-01 00:11:53,2019-09-01 00:30:31,N,1,255,228,1,7.54,22.0,0.5,0.5,0.00,0.00,NaN,0.3,23.30,2,1,0.0

In [16]:
## take this data set and put to postgres, but we need a schema

In [17]:
print(pd.io.sql.get_schema(df, name="green_taxi_data"))

CREATE TABLE "green_taxi_data" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TEXT,
  "lpep_dropoff_datetime" TEXT,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

In [18]:
# misread as text, use timestamp

In [21]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [22]:
print(pd.io.sql.get_schema(df, name="green_taxi_data"))

CREATE TABLE "green_taxi_data" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

In [23]:
## create a connection to generate the DDL statement

In [24]:
## pandas uses sql alchemy, python library for dealing with SQL.

In [25]:
## anaconda for SQL Alchemy

In [26]:
pip install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.25-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.6 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/gitpod/.pyenv/versions/3.12.1/lib/python3.12/site-packages (from sqlalchemy) (4.9.0)
Collecting greenlet!=0.4.17 (from sqlalchemy)
  Downloading greenlet-3.0.3-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (3.8 kB)
Downloading SQLAlchemy-2.0.25-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.2/3.2 MB 32.5 MB/s eta 0:00:0031m14.2 MB/s eta 0:00:01
Downloading greenlet-3.0.3-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (625 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 625.7/625.7 kB 110.1 MB/s eta 0:00:00
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-3.0.3 sqlalchemy-2.0.25
Note: you may need to restart the kernel to use updated packages.

In [29]:
pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.9.tar.gz (384 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 384.9/384.9 kB 8.5 MB/s eta 0:00:00 MB/s eta 0:00:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (setup.py) ... done
  Created wheel for psycopg2: filename=psycopg2-2.9.9-cp312-cp312-linux_x86_64.whl size=552651 sha256=7ef7ac0f3bea803f14e1536593e08197b5b0bec9412f5720883ae473510642bb
  Stored in directory: /workspace/.pyenv_mirror/pip_cache/wheels/ff/ac/80/7ccec163e3d05ae2112311b895132409b9abfd7e0c1c6b5183
Successfully built psycopg2
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.9
Note: you may need to restart the kernel to use updated packages.

In [27]:
from sqlalchemy import create_engine

In [30]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [31]:
engine.connect()

In [ ]:
CREATE TABLE green_taxi_data (
  VendorID INT,
  lpep_pickup_datetime TIMESTAMP,
  lpep_dropoff_datetime TIMESTAMP,
  store_and_fwd_flag CHAR(1),
  RatecodeID INT,
  PULocationID INT,
  DOLocationID INT,
  passenger_count INT,
  trip_distance DECIMAL(4,2),
  fare_amount DECIMAL(6,2),
  extra DECIMAL(4,2),
  mta_tax DECIMAL(4,2),
  tip_amount DECIMAL(6,2),
  tolls_amount DECIMAL(6,2),
  ehail_fee DECIMAL(6,2),
  improvement_surcharge DECIMAL(4,2),
  total_amount DECIMAL(6,2),
  payment_type INT,
  trip_type INT,
  congestion_surcharge DECIMAL(6,2)
);