In [1]:
pip install pyarrow

Collecting pyarrow
  Using cached pyarrow-15.0.0-cp312-cp312-manylinux_2_28_x86_64.whl.metadata (3.0 kB)
Collecting numpy<2,>=1.16.6 (from pyarrow)
  Using cached numpy-1.26.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (61 kB)
Using cached pyarrow-15.0.0-cp312-cp312-manylinux_2_28_x86_64.whl (38.3 MB)
Using cached numpy-1.26.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (18.0 MB)
Installing collected packages: numpy, pyarrow
Successfully installed numpy-1.26.3 pyarrow-15.0.0
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install pandas

Collecting pandas
  Using cached pandas-2.2.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (19 kB)
Requirement already satisfied: numpy<2,>=1.26.0 in /home/gitpod/.pyenv/versions/3.12.1/lib/python3.12/site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/gitpod/.pyenv/versions/3.12.1/lib/python3.12/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2023.3.post1-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: tzdata>=2022.7 in /workspace/.pyenv_mirror/user/current/lib/python3.12/site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in /home/gitpod/.pyenv/versions/3.12.1/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.2.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.7 MB)
Using cached pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
Installing collected packages: pytz, pandas
Successfully installed pandas-2.2.0 pytz-2023.3.post1
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.0'

In [6]:
# df = pd.read_csv("data/green_tripdata_2019-09.csv")

In [7]:
! head "data/green_tripdata_2019-09.csv"

VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0,,0.3,14.16,1,1,0
2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12,0.5,0.5,0,0,,0.3,13.3,2,1,0
2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12,0.5,0.5,0,0,,0.3,13.3,2,1,0
2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.5,0,,0.3,10.3,1,1,0
2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14,0.5,0.5,3.06,0,,0.3,18.36,1,1,0
2,2019-09-01 00:55:37,2019-09-01 01:17:02,N,1,7,41,1,6.26,21,0.5,0.5,0,6.12,,0.3,28.42,2,1,0
2,2019-09-01 00:28:55,2019-09-01 00:52:09,N,1,33,37,1,4.34,18,0.5,0.5,3.86,0,,0.3,23.16,1,1,0
1,2019-09-01 00:03:13,2019-09-01 00:03:32,N,1,55,55,1,1.20,2.5,0.5,0.5,0,0,,0.3,3.8,3,1,0
1,2019-09-01 00:15:28,2019-09-01 00:43:22,N,1,55,89,1,.00,22.2,0,0.5,0,0,,0.3,23,1,1,0

In [8]:
! less "data/green_tripdata_2019-09.csv"

VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0,,0.3,14.16,1,1,0
2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12,0.5,0.5,0,0,,0.3,13.3,2,1,0
2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12,0.5,0.5,0,0,,0.3,13.3,2,1,0
2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.5,0,,0.3,10.3,1,1,0
2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14,0.5,0.5,3.06,0,,0.3,18.36,1,1,0
2,2019-09-01 00:55:37,2019-09-01 01:17:02,N,1,7,41,1,6.26,21,0.5,0.5,0,6.12,,0.3,28.42,2,1,0
2,2019-09-01 00:28:55,2019-09-01 00:52:09,N,1,33,37,1,4.34,18,0.5,0.5,3.86,0,,0.3,23.16,1,1,0
1,2019-09-01 00:03:13,2019-09-01 00:03:32,N,1,55,55,1,1.20,2.5,0.5,0.5,0,0,,0.3,3.8,3,1,0
1,2019-09-01 00:15:28,2019-09-01 00:43:22,N,1,55,89,1,.00,22.2,0,0.5,0,0,,0.3,23,1,1,0
2,2019-09-01 00:29:16,2019-09-01 00:30:15,N,1,17,17,1,.14,2.5,0.5,0.5,0,0,,0.3,3data/green_tripdata_2019-09.csvVendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0,,0.3,14.16,1,1,0
2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12,0.5,0.5,0,0,,0.3,13.3,2,1,0
2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12,0.5,0.5,0,0,,0.3,13.3,2,1,0
2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.5,0,,0.3,10.3,1,1,0
2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14,0.5,0.5,3.06,0,,0.3,18.36,1,1,0
2,2019-09-01 00:55:37,2019-09-01 01:17:02,N,1,7,41,1,6.26,21,0.5,0.5,0,6.12,,0.3,28.42,2,1,0
2,2019-09-01 00:28:55,2019-09-01 00:52:09,N,1,33,37,1,4.34,18,0.5,0.5,3.86,0,,0.3,23.16,1,1,0
1,2019-09-01 00:03:13,2019-09-01 00:03:32,N,1,55,55,1,1.20,2.5,0.5,0.5,0,0,,0.3,3.8,3,1,0
1,2019-09-01 00:15:28,2019-09-01 00:43:22,N,1,55,89,1,.00,22.2,0,0.5,0,0,,0.3,23,1,1,0
2,2019-09-01 00:29:16,2019-09-01 00:30:15,N,1,17,17,1,.14,2.5,0.5,0.5,0,0,,0.3,3:

In [9]:
! wc -l "data/green_tripdata_2019-09.csv"

449064 data/green_tripdata_2019-09.csv

In [10]:
# df = pd.read_csv("data/green_tripdata_2019-09.csv", nrows=100)

In [11]:
# df.head()

In [12]:
# df

In [16]:
## take this data set and put to postgres, but we need a schema

In [13]:
print(pd.io.sql.get_schema(df, name="green_taxi_data"))

NameError: name 'df' is not defined

In [18]:
# misread as text, use timestamp

In [21]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [22]:
print(pd.io.sql.get_schema(df, name="green_taxi_data"))

CREATE TABLE "green_taxi_data" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

In [23]:
## create a connection to generate the DDL statement

In [24]:
## pandas uses sql alchemy, python library for dealing with SQL.

In [25]:
## anaconda for SQL Alchemy

In [14]:
pip install sqlalchemy

Collecting sqlalchemy
  Using cached SQLAlchemy-2.0.25-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.6 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/gitpod/.pyenv/versions/3.12.1/lib/python3.12/site-packages (from sqlalchemy) (4.9.0)
Collecting greenlet!=0.4.17 (from sqlalchemy)
  Using cached greenlet-3.0.3-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (3.8 kB)
Using cached SQLAlchemy-2.0.25-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.2 MB)
Using cached greenlet-3.0.3-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (625 kB)
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-3.0.3 sqlalchemy-2.0.25
Note: you may need to restart the kernel to use updated packages.

In [15]:
pip install psycopg2

Collecting psycopg2
  Using cached psycopg2-2.9.9-cp312-cp312-linux_x86_64.whl
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.9
Note: you may need to restart the kernel to use updated packages.

In [3]:
from sqlalchemy import create_engine

In [4]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [5]:
engine.connect()

In [ ]:
CREATE TABLE green_taxi_data (
  VendorID INT,
  lpep_pickup_datetime TIMESTAMP,
  lpep_dropoff_datetime TIMESTAMP,
  store_and_fwd_flag CHAR(1),
  RatecodeID INT,
  PULocationID INT,
  DOLocationID INT,
  passenger_count INT,
  trip_distance DECIMAL(4,2),
  fare_amount DECIMAL(6,2),
  extra DECIMAL(4,2),
  mta_tax DECIMAL(4,2),
  tip_amount DECIMAL(6,2),
  tolls_amount DECIMAL(6,2),
  ehail_fee DECIMAL(6,2),
  improvement_surcharge DECIMAL(4,2),
  total_amount DECIMAL(6,2),
  payment_type INT,
  trip_type INT,
  congestion_surcharge DECIMAL(6,2)
);

In [35]:
df_iter = pd.read_csv("data/green_tripdata_2019-09.csv", iterator=True, chunksize=100000)

In [37]:
# print(pd.io.sql.get_schema(df_iter, name="green_taxi_data"))

In [38]:
df = next(df_iter)

In [39]:
len(df)

100000

In [40]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [41]:
df.head(n=0)

Empty DataFrame
Columns: [VendorID, lpep_pickup_datetime, lpep_dropoff_datetime, store_and_fwd_flag, RatecodeID, PULocationID, DOLocationID, passenger_count, trip_distance, fare_amount, extra, mta_tax, tip_amount, tolls_amount, ehail_fee, improvement_surcharge, total_amount, payment_type, trip_type, congestion_surcharge]
Index: []

In [ ]:
df.to_sql(name="green_taxi_data",con=engine, if_exists='replace')

In [42]:
df.head(n=0).to_sql(name="green_taxi_data",con=engine, if_exists='replace')

0

In [43]:
%time df.to_sql(name="green_taxi_data",con=engine, if_exists='append')

CPU times: user 11 s, sys: 64.7 ms, total: 11.1 s
Wall time: 14.6 s

1000

In [27]:
## now we have 100,000 rows, next we insert the rest of the dataframe into our tablee

In [44]:
from time import time

In [45]:
## inserting data into our table

In [ ]:
df.info()

In [46]:
while True:
    t_start = time()
    
    df = next(df_iter)
    
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(name="green_taxi_data",con=engine, if_exists='append')

    t_end = time()
    
    print('inserted another chunk.. took %.3f second' % (t_end - t_start))

  except StopIteration:
    print("All data has been processed.")
    break

inserted another chunk.. took 14.901 second
inserted another chunk.. took 14.946 second

/tmp/ipykernel_7007/358906955.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk.. took 15.145 second
inserted another chunk.. took 6.747 second

StopIteration: