In [1]:
from sqlalchemy import create_engine
import pandas as pd
from time import time

In [2]:
df = pd.read_csv("/home/jovyan/work/data/green_tripdata_2019-09.csv", nrows=100)

In [3]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [4]:
engine = create_engine('postgresql://oasis:oasis@oasisdb:5432/ny_taxi')
engine.connect()

In [5]:
print(pd.io.sql.get_schema(df, name="green_taxi_data", con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [6]:
df_iter = pd.read_csv("/home/jovyan/work/data/green_tripdata_2019-09.csv", iterator=True, chunksize=100000)

In [7]:
df = next(df_iter)

In [8]:
len(df)

100000

In [9]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               100000 non-null  int64
 1   lpep_pickup_datetime   100000 non-null  datetime64[ns]
 2   lpep_dropoff_datetime  100000 non-null  datetime64[ns]
 3   store_and_fwd_flag     100000 non-null  object
 4   RatecodeID             100000 non-null  int64
 5   PULocationID           100000 non-null  int64
 6   DOLocationID           100000 non-null  int64
 7   passenger_count        100000 non-null  int64
 8   trip_distance          100000 non-null  float64
 9   fare_amount            100000 non-null  float64
 10  extra                  100000 non-null  float64
 11  mta_tax                100000 non-null  float64
 12  tip_amount             100000 non-null  float64
 13  tolls_amount           100000 non-null  float64
 14  ehail_fee              0 non-null       float64
 15  improvement_surcharge  100000 non-null  float64
 16  total_amount           100000 non-null  float64
 17  payment_type           100000 non-null  int64
 18  trip_type              100000 non-null  int64
 19  congestion_surcharge   100000 non-null  float64
dtypes: datetime64[ns](2), float64(10), int64(7), object(1)
memory usage: 15.3+ MB

In [11]:
df.head(n=0)

Empty DataFrame
Columns: [VendorID, lpep_pickup_datetime, lpep_dropoff_datetime, store_and_fwd_flag, RatecodeID, PULocationID, DOLocationID, passenger_count, trip_distance, fare_amount, extra, mta_tax, tip_amount, tolls_amount, ehail_fee, improvement_surcharge, total_amount, payment_type, trip_type, congestion_surcharge]
Index: []

In [12]:
df.head(n=0).to_sql(name="green_taxi_data",con=engine, if_exists='replace')

0

In [13]:
%time df.to_sql(name="green_taxi_data",con=engine, if_exists='append')

CPU times: user 6.42 s, sys: 314 ms, total: 6.73 s
Wall time: 10.8 s

1000

In [14]:
while True:
    t_start = time()

    df = next(df_iter)

    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)

    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

    df.to_sql(name="green_taxi_data", con=engine, if_exists='append')

    t_end = time()

    print('Inserted another chunk.. took %.3f seconds' % (t_end - t_start))

Inserted another chunk.. took 10.236 seconds
Inserted another chunk.. took 9.901 seconds

/tmp/ipykernel_533/1134229942.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Inserted another chunk.. took 10.880 seconds
Inserted another chunk.. took 4.395 seconds

StopIteration:

In [16]:
! wc -l "/home/jovyan/work/data/green_tripdata_2019-09.csv"

449064 /home/jovyan/work/data/green_tripdata_2019-09.csv